* {
  margin: 0;
  padding: 0;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.sidebaroption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
}

.sidebaroption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebaroption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebaroption > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.sidebaroption--active {
  color: var(--twitter-color);
}